*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
#fundo{
    position: relative;
    width: 1000px;
    height: 750px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 10px;
}
#camada1{
    position: relative;
    background-color: blue;
    text-align: center;
    width: 200px;
    height: 100px;
    float: left;
}
#camada2{
    position: relative;
    background-color: red;
    text-align: center;
    width: 800px;
    height: 100px;
    float: left;
}
#camada3{
    position: relative;
    background-color: rgb(0, 255, 0);
    text-align: center;
    width: 1000px;
    height: 50px;
    clear: left;
}
#camada4{
    position: relative;
    background-color: rgb(229, 255, 0);
    text-align: center;
    width: 1000px;
    height: 500px;
    border: 10px solid red;

    clear: left;
}
#camada5{
    position: relative;
    background-color: grey;
    text-align: center;
    width: 1000px;
    height: 50px;
    clear: left;
}